html{
    background-image: url(../images/spikes.png);
    background-repeat: repeat;
    background-size: 50vh;
}

body {
    background-color: rgba(0, 0, 0, 0);
}

/* div{
    background-color: orchid;
    margin: 20px;
    width: 50%;
    border: 5px;
    border-color: salmon;
    padding: 15px;
} */
/* #game-title {
    font-size: 48px;
    color: white;
    margin-left: 250px;
} */
/* .container {
    background-color: aqua;
} */
.jumbotron-fluid {
    background-color: rgb(84, 156, 224);
}

.header {
    color: white;
    font-family: 'Playfair Display', serif;
    margin-left: 250px;
    font-size: 60px;
}
#summary-header {
    font-family: 'Playfair Display', serif;
}
.summary-body {
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, span{
    font-weight: bold;
}
ol{
    list-style: inside;
}
ul{
    list-style: inside;
}
.crystal-card {
    background-color: rgb(241, 240, 241);
}
.image{
    height: 9vh;
    margin-left: 8px;
    cursor: pointer;
}
.directions{
    width: fit-content;
}
.match {
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}
#random {
    font-family: 'Quicksand', sans-serif;
}
.scoreboard {
    margin-top: 20px;
    background-color: rgb(241, 240, 241);
}
#score-header {
    font-family: 'Playfair Display', serif; 
    margin-left: 15px;  
}
.score-body {
    background-color: rgba(0, 255, 255, 0);
}
.win-loss {
    font-family: 'Quicksand', sans-serif;
}
#wins,
#losses {
    font-weight: bold;
}
.WinandLosses{
    background-color: mediumvioletred;
    width: 200px;
}
.Match{
    background-color: yellow;
    width: 200px;
    height: 80px;
}
.Total{
    background-color: lightcoral;

}

